<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.Core.WinForms" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.Data.WinForms" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.DataSource.WinForms" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WinForms" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.Pdf.WinForms" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.SfInput.WinForms" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.SfListView.WinForms" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base" version="18.1.0.45" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.1.0.45" targetFramework="net461" />
</packages>